/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * SETTINGS
 * Config...............Project-level config.
 * Global...............Project-specific, globally available settings.
 *
 * TOOLS
 * Mixins...............Global mixins.
 *
 * GENERIC
 * Normalize.css........Normalise browser defaults…
 * Reset................…and zero them out.
 * Box-sizing...........More manageable box-model.
 * Shared...............Share certain high-level styles as broadly as possible.
 *
 * ELEMENTS
 * Headings.............H1–H6
 * Forms................Element-level form styling.
 *
 * OBJECTS
 * Layout...............Simple Layout abstraction tool.
 * List-bare............‘Unstyled’ lists: bullets and indent removed.
 * List-pair............Simple key–value pair list.
 * Pack.................Force elements to pack up into all available space.
 *
 * COMPONENTS
 * Forms................Component-level form styling.
 * Buttons..............Element-agnostic button styles.
 * Comments.............Comment styles.
 * Messaging............User feedback messaging.
 *
 * TRUMPS
 * Typography...........Utilities for manipulating text.
 * Display..............Helper classes for showing or hiding content.
 * Widths...............Width helper classes for use with our Layout system.
 *
 */

@import "settings/settings.config";
@import "settings/settings.global";

@import "tools/tools.mixins";

@import "generics/generic.normalize";
@import "generics/generic.reset";
@import "generics/generic.box-sizing";
@import "generics/generic.shared";

@import "elements/elements.headings";
@import "elements/elements.forms";

$layout-gutter: 12px;
@import "objects/objects.layout";
@import "objects/objects.list-bare";
@import "objects/objects.list-pair";
@import "objects/objects.pack";

@import "components/components.forms";

$btn-custom: (
    font: inherit,
);
@import "components/components.buttons";
@import "components/components.comments";
@import "components/components.messaging";

@import "trumps/trumps.typography";
@import "trumps/trumps.display";
@import "trumps/trumps.widths";
